.title_div{

  .title_h1 {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: bold;
    line-height: 75px;
    font-size: 55px;
    color: #282828;
    display: inline-block;
  }
  .hr1 {
    position: absolute;
    width:181px;
    height: 2px;
    border: 1px solid #979797;
    display: inline-block;
  }
}
